# Pandas Exercise: Time Series (Getting Financial Data - Google Finance)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import datetime
import quandl

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start=datetime.datetime(2015,1,1)
end=datetime.datetime.today()

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [26]:
stocks = ['EOD/AAPL', 'SSE/TL0', 'EOD/IBM']

### Step 4. Read the data from google, assign to df and print it

In [3]:
quandl.ApiConfig.api_key='KVQTC24xS5Q72ofZH9gZ'

In [27]:
df=quandl.get(stocks,start_date=start,end_date=end)
df.head()

,EOD/AAPL - Open,EOD/AAPL - High,EOD/AAPL - Low,EOD/AAPL - Close,EOD/AAPL - Volume,EOD/AAPL - Dividend,EOD/AAPL - Split,EOD/AAPL - Adj_Open,EOD/AAPL - Adj_High,EOD/AAPL - Adj_Low,...,EOD/IBM - Low,EOD/IBM - Close,EOD/IBM - Volume,EOD/IBM - Dividend,EOD/IBM - Split,EOD/IBM - Adj_Open,EOD/IBM - Adj_High,EOD/IBM - Adj_Low,EOD/IBM - Adj_Close,EOD/IBM - Adj_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,111.39,111.44,107.350,109.33,53204626.0,0.0,1.0,104.246170,104.292963,100.465269,...,161.00,162.06,5525341.0,0.0,1.0,140.316223,142.055932,140.046568,140.968614,5525341.0
2015-01-05,108.29,108.65,105.410,106.25,64285491.0,0.0,1.0,101.344983,101.681895,98.649688,...,159.19,159.51,4880389.0,0.0,1.0,140.281429,140.281429,138.472132,138.750485,4880389.0
2015-01-06,106.54,107.43,104.630,106.26,65797116.0,0.0,1.0,99.707217,100.540138,97.919712,...,155.17,156.07,6145670.0,0.0,1.0,138.889662,139.141920,134.975317,135.758186,6145670.0
2015-01-07,107.20,108.20,106.695,107.75,40105934.0,0.0,1.0,100.324889,101.260755,99.852276,...,154.03,155.05,4701015.0,0.0,1.0,136.741121,136.741121,133.983683,134.870934,4701015.0
2015-01-08,109.23,112.15,108.700,111.89,59364547.0,0.0,1.0,102.224698,104.957428,101.728689,...,155.55,158.42,4240585.0,0.0,1.0,135.906061,138.345133,135.305862,137.802344,4240585.0

In [31]:
df.tail()

,EOD/AAPL - Open,EOD/AAPL - High,EOD/AAPL - Low,EOD/AAPL - Close,EOD/AAPL - Volume,EOD/AAPL - Dividend,EOD/AAPL - Split,EOD/AAPL - Adj_Open,EOD/AAPL - Adj_High,EOD/AAPL - Adj_Low,...,EOD/IBM - Low,EOD/IBM - Close,EOD/IBM - Volume,EOD/IBM - Dividend,EOD/IBM - Split,EOD/IBM - Adj_Open,EOD/IBM - Adj_High,EOD/IBM - Adj_Low,EOD/IBM - Adj_Close,EOD/IBM - Adj_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2018-08-20,218.10,219.18,215.110,215.46,30287695.0,0.0,1.0,218.10,219.18,215.110,...,146.15,146.51,2499654.0,0.0,1.0,146.37,147.1600,146.15,146.51,2499654.0
2018-08-21,216.80,217.19,214.025,215.04,26159755.0,0.0,1.0,216.80,217.19,214.025,...,145.89,145.97,3105655.0,0.0,1.0,147.00,147.1200,145.89,145.97,3105655.0
2018-08-22,214.10,216.36,213.840,215.05,19018131.0,0.0,1.0,214.10,216.36,213.840,...,145.19,145.24,2388955.0,0.0,1.0,146.01,146.1600,145.19,145.24,2388955.0
2018-08-23,214.65,217.05,214.600,215.49,18883224.0,0.0,1.0,214.65,217.05,214.600,...,144.75,145.37,2220603.0,0.0,1.0,145.04,145.5200,144.75,145.37,2220603.0
2018-08-24,216.60,216.90,215.110,216.16,18476356.0,0.0,1.0,216.60,216.90,215.110,...,144.87,146.04,2776615.0,0.0,1.0,145.46,146.0869,144.87,146.04,2776615.0

### Step 5.  What is the type of structure of df ?

In [30]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [32]:
df.items

<bound method DataFrame.iteritems of             EOD/AAPL - Open  EOD/AAPL - High  EOD/AAPL - Low  \
Date
2015-01-02         111.3900         111.4400        107.3500
2015-01-05         108.2900         108.6500        105.4100
2015-01-06         106.5400         107.4300        104.6300
2015-01-07         107.2000         108.2000        106.6950
2015-01-08         109.2300         112.1500        108.7000
2015-01-09         112.6700         113.2500        110.2100
2015-01-12         112.6000         112.6300        108.8000
2015-01-13         111.4300         112.8000        108.9100
2015-01-14         109.0400         110.4900        108.5000
2015-01-15         110.0000         110.0600        106.6600
2015-01-16         107.0300         107.5800        105.2000
2015-01-19              NaN              NaN             NaN
2015-01-20         107.8400         108.9667        106.5000
2015-01-21         108.9500         111.0600        108.2700
2015-01-22         110.2600         112.4700        109.7200
2015-01-23         112.3000         113.7500        111.5300
2015-01-26         113.7400         114.3626        112.8000
2015-01-27         112.4200         112.4800        109.0300
2015-01-28         117.6250         118.1200        115.3100
2015-01-29         116.3200         119.1900        115.5600
2015-01-30         118.4000         120.0000        116.8500
2015-02-02         118.0500         119.1700        116.0800
2015-02-03         118.5000         119.0900        117.6100
2015-02-04         118.5000         120.5100        118.3090
2015-02-05         120.0200         120.2300        119.2500
2015-02-06         120.0200         120.2500        118.4500
2015-02-09         118.5500         119.8400        118.4300
2015-02-10         120.1700         122.1500        120.1600
2015-02-11         122.7700         124.9200        122.5000
2015-02-12         126.0600         127.4800        125.5700
...                     ...              ...             ...
2018-07-16         191.5200         192.6500        190.4150
2018-07-17         189.7500         191.8700        189.2000
2018-07-18         191.7800         191.8000        189.9300
2018-07-19         189.6900         192.5500        189.6900
2018-07-20         191.7800         192.4300        190.1700
2018-07-23         190.6800         191.9600        189.5600
2018-07-24         192.4500         193.6601        192.0500
2018-07-25         193.0602         194.8500        192.4300
2018-07-26         194.6100         195.9600        193.6100
2018-07-27         194.9900         195.1900        190.1000
2018-07-30         191.9000         192.2000        189.0700
2018-07-31         190.3000         192.1400        189.3400
2018-08-01         199.1300         201.7600        197.3100
2018-08-02         200.5800         208.3800        200.3500
2018-08-03         207.0300         208.7400        205.4803
2018-08-06         208.0000         209.2500        207.0700
2018-08-07         209.3200         209.5000        206.7600
2018-08-08         206.0500         207.8100        204.5200
2018-08-09         207.2800         209.7800        207.2000
2018-08-10         207.3600         209.1000        206.6700
2018-08-13         207.7000         210.9520        207.7000
2018-08-14         210.1550         210.5600        208.2600
2018-08-15         209.2200         210.7400        208.3300
2018-08-16         211.7500         213.8121        211.4700
2018-08-17         213.4400         217.9500        213.1600
2018-08-20         218.1000         219.1800        215.1100
2018-08-21         216.8000         217.1900        214.0250
2018-08-22         214.1000         216.3600        213.8400
2018-08-23         214.6500         217.0500        214.6000
2018-08-24         216.6000         216.9000        215.1100

            EOD/AAPL - Close  EOD/AAPL - Volume  EOD/AAPL - Dividend  \
Date
2015-01-02            109.33         53204626.0                 0.00
2015-01-05            106.25         64285491.0                 0.00
2015-01-06            106.26         65797116.0                 0.00
2015-01-07            107.75         40105934.0                 0.00
2015-01-08            111.89         59364547.0                 0.00
2015-01-09            112.01         53315099.0                 0.00
2015-01-12            109.25         49650790.0                 0.00
2015-01-13            110.22         67091928.0                 0.00
2015-01-14            109.80         48956588.0                 0.00
2015-01-15            106.82         60013996.0                 0.00
2015-01-16            105.99         78513345.0                 0.00
2015-01-19               NaN                NaN                  NaN
2015-01-20            108.72         49899907.0                 0.00
2015-01-21            109.55         48575897.0                 0.00
2015-01-22            112.40         53796409.0                 0.00
2015-01-23            112.98         46464828.0                 0.00
2015-01-26            113.10         55614979.0                 0.00
2015-01-27            109.14         95568749.0                 0.00
2015-01-28            115.31        146477063.0                 0.00
2015-01-29            118.90         84436432.0                 0.00
2015-01-30            117.16         83745461.0                 0.00
2015-02-02            118.63         62739100.0                 0.00
2015-02-03            118.65         51915749.0                 0.00
2015-02-04            119.56         70149743.0                 0.00
2015-02-05            119.94         42246245.0                 0.47
2015-02-06            118.93         43706567.0                 0.00
2015-02-09            119.72         38889797.0                 0.00
2015-02-10            122.02         62008506.0                 0.00
2015-02-11            124.88         73561797.0                 0.00
2015-02-12            126.46         74474466.0                 0.00
...                      ...                ...                  ...
2018-07-16            190.91         15043110.0                 0.00
2018-07-17            191.45         15534523.0                 0.00
2018-07-18            190.40         16393381.0                 0.00
2018-07-19            191.88         20286752.0                 0.00
2018-07-20            191.44         20706042.0                 0.00
2018-07-23            191.61         15989365.0                 0.00
2018-07-24            193.00         18697898.0                 0.00
2018-07-25            194.82         16826483.0                 0.00
2018-07-26            194.21         19075964.0                 0.00
2018-07-27            190.98         24023972.0                 0.00
2018-07-30            189.91         21029535.0                 0.00
2018-07-31            190.29         39373038.0                 0.00
2018-08-01            201.50         67935716.0                 0.00
2018-08-02            207.39         62404012.0                 0.00
2018-08-03            207.99         33447396.0                 0.00
2018-08-06            209.07         25425387.0                 0.00
2018-08-07            207.11         25587387.0                 0.00
2018-08-08            207.25         22525487.0                 0.00
2018-08-09            208.88         23492626.0                 0.00
2018-08-10            207.53         24611202.0                 0.73
2018-08-13            208.87         25890880.0                 0.00
2018-08-14            209.75         20748010.0                 0.00
2018-08-15            210.24         28807564.0                 0.00
2018-08-16            213.32         28500367.0                 0.00
2018-08-17            217.58         35426997.0                 0.00
2018-08-20            215.46         30287695.0                 0.00
2018-08-21            215.04         26159755.0                 0.00
2018-08-22            215.05         19018131.0                 0.00
2018-08-23            215.49         18883224.0                 0.00
2018-08-24            216.16         18476356.0                 0.00

            EOD/AAPL - Split  EOD/AAPL - Adj_Open  EOD/AAPL - Adj_High  \
Date
2015-01-02               1.0           104.246170           104.292963
2015-01-05               1.0           101.344983           101.681895
2015-01-06               1.0            99.707217           100.540138
2015-01-07               1.0           100.324889           101.260755
2015-01-08               1.0           102.224698           104.957428
2015-01-09               1.0           105.444079           105.986881
2015-01-12               1.0           105.378568           105.406644
2015-01-13               1.0           104.283604           105.565741
2015-01-14               1.0           102.046883           103.403890
2015-01-15               1.0           102.945315           103.001467
2015-01-16               1.0           100.165792           100.680518
2015-01-19               NaN                  NaN                  NaN
2015-01-20               1.0           100.923844           101.978284
2015-01-21               1.0           101.962655           103.937334
2015-01-22               1.0           103.188640           105.256905
2015-01-23               1.0           105.097808           106.454815
2015-01-26               1.0           106.445456           107.028126
2015-01-27               1.0           105.210112           105.266264
2015-01-28               1.0           110.081297           110.544551
2015-01-29               1.0           108.859991           111.545928
2015-01-30               1.0           110.806594           112.303980
2015-02-02               1.0           110.479041           111.527211
2015-02-03               1.0           110.900180           111.452342
2015-02-04               1.0           110.900180           112.781272
2015-02-05               1.0           112.762848           112.960150
2015-02-06               1.0           112.762848           112.978941
2015-02-09               1.0           111.381733           112.593732
2015-02-10               1.0           112.903778           114.764055
2015-02-11               1.0           115.346566           117.366564
2015-02-12               1.0           118.437632           119.771770
...                      ...                  ...                  ...
2018-07-16               1.0           190.848678           191.974717
2018-07-17               1.0           189.084882           191.197451
2018-07-18               1.0           191.107766           191.127696
2018-07-19               1.0           189.025092           191.875067
2018-07-20               1.0           191.107766           191.755488
2018-07-23               1.0           190.011622           191.287135
2018-07-24               1.0           191.775418           192.981276
2018-07-25               1.0           192.383479           194.167005
2018-07-26               1.0           193.927846           195.273114
2018-07-27               1.0           194.306514           194.505813
2018-07-30               1.0           191.227346           191.526294
2018-07-31               1.0           189.632954           191.466504
2018-08-01               1.0           198.432003           201.052784
2018-08-02               1.0           199.876920           207.649579
2018-08-03               1.0           206.304311           208.008317
2018-08-06               1.0           207.270911           208.516530
2018-08-07               1.0           208.586284           208.765654
2018-08-08               1.0           205.327747           207.081577
2018-08-09               1.0           206.553435           209.044672
2018-08-10               1.0           207.360000           209.100000
2018-08-13               1.0           207.700000           210.952000
2018-08-14               1.0           210.155000           210.560000
2018-08-15               1.0           209.220000           210.740000
2018-08-16               1.0           211.750000           213.812100
2018-08-17               1.0           213.440000           217.950000
2018-08-20               1.0           218.100000           219.180000
2018-08-21               1.0           216.800000           217.190000
2018-08-22               1.0           214.100000           216.360000
2018-08-23               1.0           214.650000           217.050000
2018-08-24               1.0           216.600000           216.900000

            EOD/AAPL - Adj_Low          ...           EOD/IBM - Low  \
Date                                    ...
2015-01-02          100.465269          ...                161.0000
2015-01-05           98.649688          ...                159.1900
2015-01-06           97.919712          ...                155.1700
2015-01-07           99.852276          ...                154.0300
2015-01-08          101.728689          ...                155.5500
2015-01-09          103.141847          ...                157.2500
2015-01-12          101.822275          ...                155.7600
2015-01-13          101.925221          ...                155.6800
2015-01-14          101.541515          ...                153.7400
2015-01-15           99.819521          ...                154.1600
2015-01-16           98.453156          ...                153.8200
2015-01-19                 NaN          ...                     NaN
2015-01-20           99.669782          ...                154.0300
2015-01-21          101.326266          ...                151.0700
2015-01-22          102.683273          ...                151.7600
2015-01-23          104.377191          ...                154.8900
2015-01-26          105.565741          ...                155.7700
2015-01-27          102.037525          ...                152.5900
2015-01-28          107.914766          ...                151.5500
2015-01-29          108.148733          ...                149.5200
2015-01-30          109.356001          ...                153.0400
2015-02-02          108.635384          ...                151.5100
2015-02-03          110.067259          ...                154.7500
2015-02-04          110.721430          ...                156.7000
2015-02-05          112.039407          ...                157.1501
2015-02-06          111.287780          ...                156.2300
2015-02-09          111.268989          ...                155.4000
2015-02-10          112.894383          ...                155.0800
2015-02-11          115.092892          ...                157.1700
2015-02-12          117.977261          ...                158.0900
...                        ...          ...                     ...
2018-07-16          189.747551          ...                144.2100
2018-07-17          188.536810          ...                143.3400
2018-07-18          189.264251          ...                142.7351
2018-07-19          189.025092          ...                147.2500
2018-07-20          189.503410          ...                146.2600
2018-07-23          188.895548          ...                145.0150
2018-07-24          191.376820          ...                145.9200
2018-07-25          191.755488          ...                145.5000
2018-07-26          192.931352          ...                146.6300
2018-07-27          189.433655          ...                144.6600
2018-07-30          188.407265          ...                144.6900
2018-07-31          188.676319          ...                144.1590
2018-08-01          196.618382          ...                143.3400
2018-08-02          199.647726          ...                142.3300
2018-08-03          204.760043          ...                143.0000
2018-08-06          206.344171          ...                145.5700
2018-08-07          206.035258          ...                146.3500
2018-08-08          203.803110          ...                146.2400
2018-08-09          206.473716          ...                144.7300
2018-08-10          206.670000          ...                143.8800
2018-08-13          207.700000          ...                142.5300
2018-08-14          208.260000          ...                142.9300
2018-08-15          208.330000          ...                142.0000
2018-08-16          211.470000          ...                144.3700
2018-08-17          213.160000          ...                144.6900
2018-08-20          215.110000          ...                146.1500
2018-08-21          214.025000          ...                145.8900
2018-08-22          213.840000          ...                145.1900
2018-08-23          214.600000          ...                144.7500
2018-08-24          215.110000          ...                144.8700

            EOD/IBM - Close  EOD/IBM - Volume  EOD/IBM - Dividend  \
Date
2015-01-02           162.06         5525341.0                0.00
2015-01-05           159.51         4880389.0                0.00
2015-01-06           156.07         6145670.0                0.00
2015-01-07           155.05         4701015.0                0.00
2015-01-08           158.42         4240585.0                0.00
2015-01-09           159.11         4472701.0                0.00
2015-01-12           156.44         4187588.0                0.00
2015-01-13           156.81         4386989.0                0.00
2015-01-14           155.80         4689740.0                0.00
2015-01-15           154.57         4251698.0                0.00
2015-01-16           157.14         5756041.0                0.00
2015-01-19              NaN               NaN                 NaN
2015-01-20           156.95         8380815.0                0.00
2015-01-21           152.09        11896012.0                0.00
2015-01-22           155.39         6119523.0                0.00
2015-01-23           155.87         4834447.0                0.00
2015-01-26           156.36         7888037.0                0.00
2015-01-27           153.67         5659568.0                0.00
2015-01-28           151.55         4495633.0                0.00
2015-01-29           155.48         8320622.0                0.00
2015-01-30           153.31         6563447.0                0.00
2015-02-02           154.66         4712017.0                0.00
2015-02-03           158.47         5539406.0                0.00
2015-02-04           156.96         3678339.0                0.00
2015-02-05           157.91         5253628.0                0.00
2015-02-06           156.72         3256440.0                1.10
2015-02-09           155.75         3057502.0                0.00
2015-02-10           158.56         4440614.0                0.00
2015-02-11           158.20         3626658.0                0.00
2015-02-12           158.52         3333063.0                0.00
...                     ...               ...                 ...
2018-07-16           145.46         3468817.0                0.00
2018-07-17           143.49         5095234.0                0.00
2018-07-18           144.52         6817140.0                0.00
2018-07-19           149.24        14583811.0                0.00
2018-07-20           146.35         6415857.0                0.00
2018-07-23           145.70         3769025.0                0.00
2018-07-24           146.38         3891620.0                0.00
2018-07-25           146.62         3631017.0                0.00
2018-07-26           146.71         4776840.0                0.00
2018-07-27           145.15         3749286.0                0.00
2018-07-30           145.49         3608283.0                0.00
2018-07-31           144.93         5474166.0                0.00
2018-08-01           143.50         3387370.0                0.00
2018-08-02           142.96         3836675.0                0.00
2018-08-03           147.70         8053557.0                0.00
2018-08-06           146.03         3913743.0                0.00

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 941 entries, 2015-01-02 to 2018-08-24
Data columns (total 29 columns):
EOD/AAPL - Open                 919 non-null float64
EOD/AAPL - High                 919 non-null float64
EOD/AAPL - Low                  919 non-null float64
EOD/AAPL - Close                919 non-null float64
EOD/AAPL - Volume               919 non-null float64
EOD/AAPL - Dividend             919 non-null float64
EOD/AAPL - Split                919 non-null float64
EOD/AAPL - Adj_Open             919 non-null float64
EOD/AAPL - Adj_High             919 non-null float64
EOD/AAPL - Adj_Low              919 non-null float64
EOD/AAPL - Adj_Close            919 non-null float64
EOD/AAPL - Adj_Volume           919 non-null float64
SSE/TL0 - High                  875 non-null float64
SSE/TL0 - Low                   875 non-null float64
SSE/TL0 - Last                  875 non-null float64
SSE/TL0 - Previous Day Price    875 non-null float64
SSE/TL0 - Volume                431 non-null float64
EOD/IBM - Open                  919 non-null float64
EOD/IBM - High                  919 non-null float64
EOD/IBM - Low                   919 non-null float64
EOD/IBM - Close                 919 non-null float64
EOD/IBM - Volume                919 non-null float64
EOD/IBM - Dividend              919 non-null float64
EOD/IBM - Split                 919 non-null float64
EOD/IBM - Adj_Open              919 non-null float64
EOD/IBM - Adj_High              919 non-null float64
EOD/IBM - Adj_Low               919 non-null float64
EOD/IBM - Adj_Close             919 non-null float64
EOD/IBM - Adj_Volume            919 non-null float64
dtypes: float64(29)
memory usage: 220.5 KB

In [40]:
vol=pd.DataFrame()
vol['EOD/AAPL - Volume']=df['EOD/AAPL - Volume']
vol['SSE/TL0 - Volume']=df['SSE/TL0 - Volume']
vol['EOD/IBM - Volume']=df['EOD/IBM - Volume']

In [42]:
vol.head()

            EOD/AAPL - Volume  SSE/TL0 - Volume  EOD/IBM - Volume
Date
2015-01-02         53204626.0               NaN         5525341.0
2015-01-05         64285491.0               NaN         4880389.0
2015-01-06         65797116.0               NaN         6145670.0
2015-01-07         40105934.0               NaN         4701015.0
2015-01-08         59364547.0               NaN         4240585.0

In [43]:
vol.tail()

            EOD/AAPL - Volume  SSE/TL0 - Volume  EOD/IBM - Volume
Date
2018-08-20         30287695.0             432.0         2499654.0
2018-08-21         26159755.0             300.0         3105655.0
2018-08-22         19018131.0             361.0         2388955.0
2018-08-23         18883224.0              77.0         2220603.0
2018-08-24         18476356.0             194.0         2776615.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [69]:
vol.resample('W').mean().interpolate()

            EOD/AAPL - Volume  SSE/TL0 - Volume  EOD/IBM - Volume
Date
2015-01-04        53204626.00               NaN        5525341.00
2015-01-11        56573637.40               NaN        4888072.00
2015-01-18        60845329.40               NaN        4654411.20
2015-01-25        49684260.25               NaN        7807699.25
2015-02-01        93168536.80               NaN        6585461.40
2015-02-08        54151480.80               NaN        4487966.00
2015-02-15        60641357.00               NaN        3632951.20
2015-02-22        48588735.50               NaN        3527223.00
2015-03-01        73643272.40               NaN        4588245.40
2015-03-08        49387698.40               NaN        4223409.80
2015-03-15        65302809.00               NaN        5227089.60
2015-03-22        53334595.00               NaN        5136974.40
2015-03-29        41865235.00               NaN        4713842.60
2015-04-05        40507947.75               NaN        4191386.25
2015-04-12        36441482.60               NaN        2783412.60
2015-04-19        34237233.60               NaN        3506556.20
2015-04-26        41488135.80               NaN        7087260.20
2015-05-03        84194464.20               NaN        4374950.20
2015-05-10        54378396.20               NaN        3358688.20
2015-05-17        41660302.80               NaN        2687014.80
2015-05-24        43459485.20               NaN        2387921.40
2015-05-31        49537141.75               NaN        3108979.75
2015-06-07        34168176.80               NaN        2773622.20
2015-06-14        44022917.80               NaN        3672854.00
2015-06-21        39705051.00               NaN        4152275.20
2015-06-28        39118800.80               NaN        4187955.40
2015-07-05        37745468.00               NaN        3244802.50
2015-07-12        55143673.60               NaN        3628797.20
2015-07-19        37849006.80               NaN        3427699.00
2015-07-26        68853804.20               NaN        7415051.20
...                       ...               ...               ...
2018-02-04        52598426.60            209.40        4435369.60
2018-02-11        63530812.80            665.80        7874023.60
2018-02-18        45067379.40            166.80        5226447.40
2018-02-25        34051615.75            172.60        3874719.00
2018-03-04        40425671.40            307.80        3790294.20
2018-03-11        27970520.60            110.00        4670041.20
2018-03-18        31083490.40            355.40        5202672.40
2018-03-25        34534121.40            214.20        4497627.40
2018-04-01        39632716.25           2123.75        3768108.50
2018-04-08        32881762.60           1806.25        4188987.40
2018-04-15        25615427.80            389.60        4232509.20
2018-04-22        33847668.00            466.80       10205713.80
2018-04-29        32441686.20            167.40        5004711.40
2018-05-06        50561133.60            685.00        4691198.40
2018-05-13        29653390.20            702.80        4003866.00
2018-05-20        19849750.40            373.20        3259506.80
2018-05-27        18878968.80            600.50        3390252.00
2018-06-03        23032481.25            105.40        5085486.00
2018-06-10        23353947.00            459.80        3712934.40
2018-06-17        28037445.60           1832.00        4262130.40
2018-06-24        25120873.20            888.00        4126441.00
2018-07-01        24324105.20            458.60        5090253.60
2018-07-08        16429771.75            970.00        3006000.00
2018-07-15        17017635.20            399.40        3468552.40
2018-07-22        17592761.60            453.20        7276171.80
2018-07-29        18922736.40            354.20        3963557.60
2018-08-05        44837939.40            486.60        4872010.20
2018-08-12        24328417.80           1963.80        3419471.40
2018-08-19        27874763.60            625.00        3577831.60
2018-08-26        22565032.20            272.80        2598296.40

[191 rows x 3 columns]

### Step 9. Find all the volume traded in the year of 2015

In [62]:
vol[vol.index.year==2015].sum()

EOD/AAPL - Volume    1.306432e+10
SSE/TL0 - Volume     0.000000e+00
EOD/IBM - Volume     1.105546e+09
dtype: float64

### BONUS: Create your own question and answer it.